
.app-container{
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
  height:100vh;
  display:flex;
  flex-direction: column;
  margin-top:10px;
  
}

p{
  text-align:center;
  margin-top:auto;
  margin-bottom:auto;
}
.loader{
height: 40px;
margin:-15px;
}